@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;   
}

.bg-custom {
    margin: 0 32px 12px 0;
}

.phone-bg {
    background-position: -46px 0;
    background-size: 468.32px 634.15px;
    flex-basis: 380.32px;
    height: 581px;
    margin-bottom: 12px;
    margin-right: 32px;
}